.HP__Nav {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.HP__NavLeftDiv {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.HP__NavHome {
  font-size: 22px;
  margin-left: 15px;
  cursor: pointer;
}
.HP__NavProfile {
  border: 1px solid black;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin-right: 10px;
}
.HP__FirstDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
}
.HP__MainText {
  font-size: 65px;
  margin-bottom: 15px;
}
.HP__Progbar {
  width: 500px;
  height: 8px;
  background-color: rgb(12, 216, 12);
  border-radius: 20px;
}
.HP__Proceed {
  background-color: #ee7752;
  border-radius: 5px;
  padding: 4px 22px;
  color: #faffe7;
  cursor: pointer;
  font-size: 29px;
  margin-top: 120px;
}
.HP__ProceedContainer {
  width: 110px;
  margin-top: 50px;
}
.HP__CoursesDiv {
  border: 1px solid rgba(255, 255, 255, 0);
  position: relative;
  height: 50vh;
}
.HP__CoursesText {
  position: absolute;
  left: 45px;
  top: 10px;
  font-size: 35px;
}
.HP__CoursesContainer {
  border: 2px solid rgb(90, 90, 90);
  margin-top: 100px;
  border-radius: 3px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.HP__CoursesContainer:hover {
  background-color: rgb(243, 243, 243);
}
.HP__DropdownIcon {
  margin: 3px 0px 0px 10px;
}
.HP__CourseTitle {
  font-size: 30px;
  margin: 0px 0px 0px 20px;
}
.HP__OpenDropdown {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.HP__DropdownItem {
  font-size: 22px;
  padding: 4px 0px 4px 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.HP__DropdownItemIcon {
  margin-right: 10px;
}
.HP__DropdownItem:hover {
  background-color: rgb(235, 235, 235);
}
